{% extends 'HomePage.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Admin {% endblock %}


{% block content %}
{% for message in get_flashed_messages() %}
 <div style="margin-left: 150px; margin-right: 150px;" class="alert alert-warning">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 {{ message }}
 </div>
 {% endfor %}

<div class="page-header" style="margin-left: 150px; margin-right: 150px;">
	<h2> Welcome Mr. Awesome </h2>
	{{ wtf.quick_form(form) }}
	
	
</div>
<div style = "margin-top: 20px; margin-left: 150px; margin-right: 150px;">
	<h4 > You can use this RANDOM secret key: {{secret}} </h4>
	<h4> Make sure to save this somewhere safe. </h4>
</div>
{% endblock %}