{% extends "bootstrap/base.html" %}

{% block title %}Flask Blog{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flask Blog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>

            </ul>
        </div>
        <div>
            <ul class = "nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li> <a href="/logout"> Logout </a> </li>
                {% else %}
                <li> <a href="/Login"> Login </a> </li>
                <li> <a href="/Login"> Staff Login </a> </li>
                <li> <a href="/Sign_up_Society_head"> Sign Up </a> </li>
                <li> <a href="/SignUp"> Register a Society </a> </li>
                {% endif %}
                
        </div>

    </div>
</div>
{% endblock %}




 {% block content %}

{% for message in get_flashed_messages() %}
 <div style="margin-left: 150px; margin-right: 150px;" class="alert alert-warning">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 {{ message }}
 </div>
 {% endfor %}

<div class="container">
    <div class="page-header">
    	<h1> Welcome to our Flask Blog </h1>
        {% if current_user.is_authenticated %}
        <h2> Hello, {{ current_user.username }} </h2>
        <h2> You have a {{current_user.role.role_name}} Role </h2>
        {% endif %}
    </div>
</div>
{% endblock %}
